.navBar {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    justify-content: right;
    padding-right: 64px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1a1a1a;
    color: white;
}

.navBar ul li {
    display: inline;
    margin: 32px;

}

.navBar ul li a {
    text-decoration: none;
    color: white;
}

.navBar ul li a:hover {
    color: black;
}

